.root {
    width: 100vw;
}

.textlogo {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.875em; 
    line-height: 1.75em;    
    color: #173A56;
}

ul {
    list-style: none;
  }
  
  .menu {
    text-decoration: none;
    cursor: pointer;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 1.75em; 
    color: #22343D;
  }

.button {
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    height: 43px;
    width: 102px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 1.5em;
    color: #173A56;
}

.main__second {
    padding: 0px 9vw 0px 9vw;
}

@media screen and (min-width:1024px) {
    header {
        padding: 0px 9vw 0px 9vw;
        min-height: 80px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }

    .nav {
        padding-inline-start: 0px;
        display: grid;
        gap: 2vw;
        grid-template-columns: repeat(4, 1fr);
      }

      .header__button {
        padding-left: 2vw;
        display: grid;
        gap: 2vw;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }

    .main__first {
        padding: 25px 9vw 0px 9vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .main__secondColumns {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    header {
        padding: 0px 5vw 0px 5vw;
        min-height: 80px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .nav {
        padding-inline-start: 0px;
        display: grid;
        gap: 2vw;
        grid-template-columns: repeat(4, 1fr);
      }

      .header__button {
        padding-left: 2vw;
        display: grid;
        gap: 2vw;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }

    .main__first {
        padding: 25px 9vw 0px 9vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .main__secondColumns {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 6vw;
    }
}

@media screen and (max-width: 767px) {
    header {
        padding: 0px 3vw 0px 3vw;
        min-height: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__button {
        display: flex;
        gap: 2vw;
        align-items: center;
    }
}

.h1 {
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 2.5em;
line-height: 60px;
color: #22343D;
padding-top: 90px;
}

.text__mainFirst {
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 1.125em;
line-height: 1.75em;
color: #22343D;
padding-top: 1.125em;
padding-bottom: 60px;
}

img {
    max-width: 100%;
}

.h2 {
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 2em;
line-height: 48px;
text-align: center;
color: #22343D;
text-align: center;
padding-bottom: 40px;
padding-top: 90px;
}

.h3 { 
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 1.375em;
line-height: 33px;
color: #22343D;
margin-bottom: 28px;
margin-top: 0px;
}

.text {
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 1em;
line-height: 26px;
color: #22343D;
}